spring.application.name=FoodDeliveryFinalProject
spring.datasource.url=jdbc:postgresql://localhost/final_project_aca
spring.datasource.username=postgres
spring.datasource.password=131313
spring.datasource.driverClassName=org.postgresql.Driver
spring.jpa.hibernate.ddl-auto=update
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect
server.port=8080
management.endpoints.web.exposure.include=*

#for paypal
paypal.client.id= YOUR_CLIENT_ID
paypal.client.secret= YOUR_CLIENT_SECRET
paypal.mode=sandbox
paypal.api.url=https://api-m.sandbox.paypal.com
logging.level.com.paypal=DEBUG

#for springSecurity
logging.level.org.springframework.security=TRACE

#for github
spring.security.oauth2.client.registration.github.client-id= YOUR_CLIENT_ID
spring.security.oauth2.client.registration.github.client-secret= YOUR_CLIENT_SECRET